USE [master]
GO
/****** Object:  Database [BIKESTORE1]    Script Date: 17-10-2019 19:11:58 ******/
CREATE DATABASE [BIKESTORE1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BIKESTORE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\BIKESTORE.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BIKESTORE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\BIKESTORE_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BIKESTORE1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BIKESTORE1]
GO
/****** Object:  Schema [production]    Script Date: 17-10-2019 19:11:58 ******/
CREATE SCHEMA [production]
GO
/****** Object:  Schema [SALES]    Script Date: 17-10-2019 19:11:58 ******/
CREATE SCHEMA [SALES]
GO
/****** Object:  Table [dbo].[ORDER_ITEMS1]    Script Date: 17-10-2019 19:11:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER_ITEMS1](
	[ORDER_ID] [int] NOT NULL,
	[ITEM_ID] [int] NOT NULL,
	[PRODUCT_ID] [int] NOT NULL,
	[QUANTITY] [int] NULL,
	[LIST_PRICE] [int] NULL,
	[DISCOUNT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ORDER_ID] ASC,
	[ITEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [production].[brands]    Script Date: 17-10-2019 19:11:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [production].[brands](
	[brand_id] [int] IDENTITY(1,1) NOT NULL,
	[brand_name] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[brand_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [production].[categories]    Script Date: 17-10-2019 19:11:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [production].[categories](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [production].[products]    Script Date: 17-10-2019 19:11:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [production].[products](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[product_name] [varchar](255) NOT NULL,
	[brand_id] [int] NOT NULL,
	[category_id] [int] NOT NULL,
	[model_year] [smallint] NOT NULL,
	[list_price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [SALES].[CUSTOMERS]    Script Date: 17-10-2019 19:11:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [SALES].[CUSTOMERS](
	[CUSTORMER_ID] [int] NOT NULL,
	[FIRST_NAME] [varchar](100) NOT NULL,
	[LAST_NAME] [varchar](100) NOT NULL,
	[PHONE] [varchar](30) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[STREET] [varchar](50) NOT NULL,
	[CITY] [varchar](30) NOT NULL,
	[STATE] [varchar](50) NOT NULL,
	[ZIP_CODE] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CUSTORMER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [SALES].[ORDERS]    Script Date: 17-10-2019 19:11:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [SALES].[ORDERS](
	[ORDER_ID] [int] NOT NULL,
	[CUSTORMER_ID] [int] NULL,
	[ORDER_STATUS] [varchar](50) NOT NULL,
	[ORDER_DATE] [date] NOT NULL,
	[REQUIRED_DATE] [date] NOT NULL,
	[SHIPPED_DATE] [date] NULL,
	[STORE_ID] [int] NOT NULL,
	[STAFF_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ORDER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [SALES].[STAFF]    Script Date: 17-10-2019 19:11:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [SALES].[STAFF](
	[STAFF_ID] [int] NOT NULL,
	[FIRST_NAME] [varchar](40) NOT NULL,
	[LAST_NAME] [varchar](50) NOT NULL,
	[EMAIL] [varchar](35) NOT NULL,
	[PHONE] [varchar](40) NOT NULL,
	[ACTIVE] [varchar](50) NOT NULL,
	[STORE_ID] [int] NOT NULL,
	[MANAGER_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[STAFF_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [SALES].[STORES]    Script Date: 17-10-2019 19:11:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [SALES].[STORES](
	[STORE_ID] [int] NOT NULL,
	[STORE_NAME] [varchar](50) NOT NULL,
	[PHONE] [varchar](30) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[STREET] [varchar](50) NOT NULL,
	[CITY] [varchar](30) NOT NULL,
	[STATE] [varchar](50) NOT NULL,
	[ZIP_CODE] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[STORE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [production].[products]  WITH CHECK ADD FOREIGN KEY([brand_id])
REFERENCES [production].[brands] ([brand_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [production].[products]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [production].[categories] ([category_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [SALES].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_CT_ID] FOREIGN KEY([CUSTORMER_ID])
REFERENCES [SALES].[CUSTOMERS] ([CUSTORMER_ID])
GO
ALTER TABLE [SALES].[ORDERS] CHECK CONSTRAINT [FK_CT_ID]
GO
ALTER TABLE [SALES].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_SF_ID] FOREIGN KEY([STAFF_ID])
REFERENCES [SALES].[STAFF] ([STAFF_ID])
GO
ALTER TABLE [SALES].[ORDERS] CHECK CONSTRAINT [FK_SF_ID]
GO
ALTER TABLE [SALES].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_ST_ID] FOREIGN KEY([STORE_ID])
REFERENCES [SALES].[STORES] ([STORE_ID])
GO
ALTER TABLE [SALES].[ORDERS] CHECK CONSTRAINT [FK_ST_ID]
GO
ALTER TABLE [SALES].[STAFF]  WITH CHECK ADD  CONSTRAINT [FI_ID] FOREIGN KEY([STORE_ID])
REFERENCES [SALES].[STORES] ([STORE_ID])
GO
ALTER TABLE [SALES].[STAFF] CHECK CONSTRAINT [FI_ID]
GO
ALTER TABLE [dbo].[ORDER_ITEMS1]  WITH CHECK ADD CHECK  (([LIST_PRICE]>(0)))
GO
ALTER TABLE [dbo].[ORDER_ITEMS1]  WITH CHECK ADD CHECK  (([QUANTITY]>(0)))
GO
USE [master]
GO
